* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
body::before {
  content: "";
  display: block;
  height: 5rem;
}

.page-content__right .wrapper, .page-content__left .wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.facebook--contacts__contact, .facebook--pages__page, .facebook-favorits__favorit, .facebookSortcut__sourtcut {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4375rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.625rem 0;
}

.page-content {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 0.625rem;
}
.page-content__left {
  flex: 25% 0 0;
  max-width: 22.5rem;
}
.page-content__middel {
  flex: 50% 0 0;
  max-width: 42.5rem;
}
.page-content__right {
  flex: 25% 0 0;
  max-width: 22.5rem;
}

nav,
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  box-shadow: 0 0.1875rem 0.5rem rgba(0, 0, 0, 0.0509803922);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
nav__left,
.nav__left {
  flex: 25% 0 0;
  max-width: 22.5rem;
}
nav__middel,
.nav__middel {
  flex: 50% 0 0;
  max-width: 42.5rem;
}
nav__right,
.nav__right {
  flex: 25% 0 0;
  max-width: 360px;
}
nav .input-box__text,
.nav .input-box__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
nav .input-box__text label,
.nav .input-box__text label {
  width: 100%;
}
nav .input-box__text input,
.nav .input-box__text input {
  border: none;
  height: 2.5rem;
  border-radius: 1.25rem;
  padding: 1.25rem;
  background-color: #efefef;
  font-size: 1.25rem;
}
nav .facebook-icons,
.nav .facebook-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
  color: #656565;
}
nav .facebook-icons .active,
.nav .facebook-icons .active {
  color: #1b75e5;
}
nav .fasebook-services,
.nav .fasebook-services {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .fasebook-services .user-imag,
.nav .fasebook-services .user-imag {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .fasebook-services__service,
.nav .fasebook-services__service {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #e4e4e4;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.facebookSortcut i {
  color: #1b75e5;
  font-size: 1.4rem;
}

.saparitor {
  border-top: 2px solid #ccc;
  padding: 0.625rem;
  margin-top: 0.625rem;
}

.facebook-favorits__favorit .favorit-image img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.facebook--sponsers__sponserd {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.625rem 0;
}
.facebook--sponsers__sponserd img {
  max-width: 115px;
  border-radius: 0.3125rem;
}

.facebook--pages__page img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.facebook--contacts__contact img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.storys {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.storys .story {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem;
  flex-direction: column;
  width: 5.625rem;
  height: 11.25rem;
  padding: 0.625rem;
  margin: unset;
  border-radius: 0.625rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgba(0, 0, 0, 0.2509803922);
  background-blend-mode: multiply;
}
.storys .story.story-1 {
  background-image: url("https://picsum.photos/id/24/90/180");
}
.storys .story.story-2 {
  background-image: url("https://picsum.photos/id/36/90/180");
}
.storys .story.story-3 {
  background-image: url("https://picsum.photos/id/18/90/180");
}
.storys .story.story-4 {
  background-image: url("https://picsum.photos/id/40/90/180");
}
.storys .story.story-5 {
  background-image: url("https://picsum.photos/id/35/90/180");
}
.storys .story.story-6 {
  background-image: url("https://picsum.photos/id/138/90/180");
}
.storys .story img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #1b75e5;
  outline: 0.5px solid white;
}
.storys .story__username {
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7215686275);
}

.create-post {
  background-color: white;
  margin: 0.625rem;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1254901961);
}
.create-post img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.create-post__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.625rem;
  margin-top: 0.625rem;
  border-top: 1px solid #e4e4e4;
}
.create-post__buttons__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  font-size: 1.125rem;
}
.create-post__buttons__button span {
  color: #656565;
}
.create-post__buttons__button i {
  font-size: 1.8rem;
}
.create-post__buttons__button:first-child() i {
  color: red;
}
.create-post__buttons__button:nth-child(1) i {
  color: orange;
}
.create-post__buttons__button:nth-child(2) i {
  color: blue;
}
.create-post__buttons__button:nth-child(3) i {
  color: red;
}

.input-box__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.input-box__text label {
  width: 100%;
}
.input-box__text input {
  width: 100%;
  border: none;
  height: 2.5rem;
  border-radius: 1.25rem;
  padding: 1.25rem;
  background-color: #efefef;
  font-size: 1.25rem;
}

.create-room {
  background-color: white;
  margin: 0.625rem;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1254901961);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.create-room__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  font-size: 1.125rem;
  border: 2px solid #efefef;
  border-radius: 1.5625rem;
  padding: 0.3125rem 0.9375rem;
}
.create-room__button i {
  color: blue;
  font-size: 1.8rem;
}
.create-room__button span {
  color: #656565;
}
.create-room__image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-feed {
  padding: 0.625rem;
  margin: 0.9375rem;
  background-color: white;
  margin-top: 1.5625rem;
}
.news-feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.news-feed__header div:nth-child(2) {
  flex: 1;
}
.news-feed__header img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-feed__header__post-meta__name {
  font-weight: 600;
}
.news-feed__header__post-meta__info {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.3125rem;
}
.news-feed__header__option {
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  top: -0.9375rem;
  list-style: 1;
}
.news-feed__feed__text, .news-feed__feed__imges {
  margin-top: 0.625rem;
}
.news-feed__feed__imges {
  border-radius: 0.3125rem;
}
.news-feed__footer {
  padding-top: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-feed__footer__reaction {
  font-size: 1.2rem;
}
.news-feed__footer__reaction i:nth-child(1) {
  color: blue;
}
.news-feed__footer__reaction i:nth-child(2) {
  color: red;
}
.news-feed__footer__reaction i:nth-child(3) {
  color: orange;
}
.news-feed__comments {
  padding-top: 0.625rem;
}
.news-feed__comments img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styel.css.map */