<div class="wrapper">

    <div class="storys">
        <div class="story story-1">
            <img src="./assets/image/sa2.jpg" alt="User-imge">
            <div class="story__username">MBSalama</div>
        </div>
        <div class="story story-2">
            <img src="./assets/image/sa2.jpg" alt="User-imge">
            <div class="story__username">AyaatSalama</div>
        </div>
        <div class="story story-3">
            <img src="./assets/image/sa2.jpg" alt="User-imge">
            <div class="story__username">IsmailSalama</div>
        </div>
        <div class="story story-4">
            <img src="./assets/image/sa2.jpg" alt="User-imge">
            <div class="story__username">AhmedMorad</div>
        </div>
        <div class="story story-5">
            <img src="./assets/image/sa2.jpg" alt="User-imge">
            <div class="story__username">MahmedSayed</div>
        </div>
        <div class="story story-6">
            <img src="./assets/image/sa2.jpg" alt="User-imge">
            <div class="story__username">FesalAhmed</div>
        </div>
    </div>

    <div class="create-post">
        <div class="input-box__text">
            <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
            <label for="search-input">
                <input type="search" name="create-post" id="create-post" placeholder="What's on your mind,Mahmoud">
            </label>
        </div>

        <div class="create-post__buttons">

            <div class="create-post__buttons__button">
                <i class="ri-image-fill"></i>
                <span>Photo/Vidoe</span>
            </div>

            <div class="create-post__buttons__button">
                <i class="ri-video-add-fill"></i>
                <span>Live Vidoe</span>
            </div>

            <div class="create-post__buttons__button">
                <i class="ri-emotion-happy-line"></i>
                <span>Feeling/activity</span>
            </div>
        </div>

    </div>

    <div class="create-room">

        <div class="create-room__button">
            <i class="ri-video-add-fill"></i>
            <span>Create room</span>
        </div>

        <div class="create-room__images">
            <img src="https://picsum.photos/id/237/200/300" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/238/200/300" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/239/200/300" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/240/200/300" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/241/200/300" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/242/200/300" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/243/200/300" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/244/200/300" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/247/200/300" alt="" class="create-room__image">
        </div>
        
    </div>

    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="./assets/image/sa2.jpg" alt="" width="100%">
            </div>
            
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">MahmoudSalama</div>  
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                    </span>
                    <div class="date">2d age</div>
                </div>    
            </div>
            <div class="news-feed__header__option">...</div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde praesentium non quasi in rerum ab sed quod suscipit cumque.</p>
            <img class="news-feed__feed__imges" src="https://picsum.photos/id/237/600/340" alt="" width="100%">
        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                700 comments
            </div>
        </footer>

        <div class="news-feed__comments">
            <div class="input-box__text">
                    <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
                    <label for="search-input">
                        <input type="search" id="search-input" placeholder="Comment as Mahmoud?">
                    </label>
            </div>
        </div>

    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="./assets/image/sa2.jpg" alt="" width="100%">
            </div>
            
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">MahmoudSalama</div>  
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                    </span>
                    <div class="date">2d age</div>
                </div>    
            </div>
            <div class="news-feed__header__option">...</div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde praesentium non quasi in rerum ab sed quod suscipit cumque.</p>
            <img class="news-feed__feed__imges" src="https://picsum.photos/id/238/600/340" alt="" width="100%">
        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                700 comments
            </div>
        </footer>

        <div class="news-feed__comments">
            <div class="input-box__text">
                    <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
                    <label for="search-input">
                        <input type="search" id="search-input" placeholder="Comment as Mahmoud?">
                    </label>
            </div>
        </div>

    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="./assets/image/sa2.jpg" alt="" width="100%">
            </div>
            
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">MahmoudSalama</div>  
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                    </span>
                    <div class="date">2d age</div>
                </div>    
            </div>
            <div class="news-feed__header__option">...</div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde praesentium non quasi in rerum ab sed quod suscipit cumque.</p>
            <img class="news-feed__feed__imges" src="https://picsum.photos/id/239/600/340" alt="" width="100%">
        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                700 comments
            </div>
        </footer>

        <div class="news-feed__comments">
            <div class="input-box__text">
                    <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
                    <label for="search-input">
                        <input type="search" id="search-input" placeholder="Comment as Mahmoud?">
                    </label>
            </div>
        </div>

    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="./assets/image/sa2.jpg" alt="" width="100%">
            </div>
            
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">MahmoudSalama</div>  
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                    </span>
                    <div class="date">2d age</div>
                </div>    
            </div>
            <div class="news-feed__header__option">...</div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde praesentium non quasi in rerum ab sed quod suscipit cumque.</p>
            <img class="news-feed__feed__imges" src="https://picsum.photos/id/240/600/340" alt="" width="100%">
        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                700 comments
            </div>
        </footer>

        <div class="news-feed__comments">
            <div class="input-box__text">
                    <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
                    <label for="search-input">
                        <input type="search" id="search-input" placeholder="Comment as Mahmoud?">
                    </label>
            </div>
        </div>

    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="./assets/image/sa2.jpg" alt="" width="100%">
            </div>
            
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">MahmoudSalama</div>  
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                    </span>
                    <div class="date">2d age</div>
                </div>    
            </div>
            <div class="news-feed__header__option">...</div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde praesentium non quasi in rerum ab sed quod suscipit cumque.</p>
            <img class="news-feed__feed__imges" src="https://picsum.photos/id/241/600/340" alt="" width="100%">
        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                700 comments
            </div>
        </footer>

        <div class="news-feed__comments">
            <div class="input-box__text">
                    <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
                    <label for="search-input">
                        <input type="search" id="search-input" placeholder="Comment as Mahmoud?">
                    </label>
            </div>
        </div>

    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="./assets/image/sa2.jpg" alt="" width="100%">
            </div>
            
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">MahmoudSalama</div>  
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                    </span>
                    <div class="date">2d age</div>
                </div>    
            </div>
            <div class="news-feed__header__option">...</div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde praesentium non quasi in rerum ab sed quod suscipit cumque.</p>
            <img class="news-feed__feed__imges" src="https://picsum.photos/id/242/600/340" alt="" width="100%">
        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                700 comments
            </div>
        </footer>

        <div class="news-feed__comments">
            <div class="input-box__text">
                    <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
                    <label for="search-input">
                        <input type="search" id="search-input" placeholder="Comment as Mahmoud?">
                    </label>
            </div>
        </div>

    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="./assets/image/sa2.jpg" alt="" width="100%">
            </div>
            
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">MahmoudSalama</div>  
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                    </span>
                    <div class="date">2d age</div>
                </div>    
            </div>
            <div class="news-feed__header__option">...</div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde praesentium non quasi in rerum ab sed quod suscipit cumque.</p>
            <img class="news-feed__feed__imges" src="https://picsum.photos/id/243/600/340" alt="" width="100%">
        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                700 comments
            </div>
        </footer>

        <div class="news-feed__comments">
            <div class="input-box__text">
                    <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
                    <label for="search-input">
                        <input type="search" id="search-input" placeholder="Comment as Mahmoud?">
                    </label>
            </div>
        </div>

    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="./assets/image/sa2.jpg" alt="" width="100%">
            </div>
            
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">MahmoudSalama</div>  
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                    </span>
                    <div class="date">2d age</div>
                </div>    
            </div>
            <div class="news-feed__header__option">...</div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde praesentium non quasi in rerum ab sed quod suscipit cumque.</p>
            <img class="news-feed__feed__imges" src="https://picsum.photos/id/244/600/340" alt="" width="100%">
        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                700 comments
            </div>
        </footer>

        <div class="news-feed__comments">
            <div class="input-box__text">
                    <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
                    <label for="search-input">
                        <input type="search" id="search-input" placeholder="Comment as Mahmoud?">
                    </label>
            </div>
        </div>

    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="./assets/image/sa2.jpg" alt="" width="100%">
            </div>
            
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">MahmoudSalama</div>  
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                    </span>
                    <div class="date">2d age</div>
                </div>    
            </div>
            <div class="news-feed__header__option">...</div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde praesentium non quasi in rerum ab sed quod suscipit cumque.</p>
            <img class="news-feed__feed__imges" src="https://picsum.photos/id/255/600/340" alt="" width="100%">
        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                700 comments
            </div>
        </footer>

        <div class="news-feed__comments">
            <div class="input-box__text">
                    <img src="./assets/image/sa2.jpg" alt="" width="40" height="40">
                    <label for="search-input">
                        <input type="search" id="search-input" placeholder="Comment as Mahmoud?">
                    </label>
            </div>
        </div>

    </div>

</div>