<div class="wrapper">


    <ul class="facebookSortcut">
        <li class="facebookSortcut__sourtcut">
            <i class="ri-user-fill"></i>
            <span class="facebookSortcut__sourtcut__text">Firends</span>
        </li>
        <li class="facebookSortcut__sourtcut">
            <i class="ri-group-2-line"></i>
            <span class="facebookSortcut__sourtcut__text">Groups</span>
        </li>
        <li class="facebookSortcut__sourtcut">
            <i class="ri-movie-line"></i>
            <span class="facebookSortcut__sourtcut__text">Watch</span>
        </li>
        <li class="facebookSortcut__sourtcut">
            <i class="ri-store-2-line"></i>
            <span class="facebookSortcut__sourtcut__text">Marketpleas</span>
        </li>
        <li class="facebookSortcut__sourtcut">
            <i class="ri-history-fill"></i>
            <span class="facebookSortcut__sourtcut__text">Memories</span>
        </li>
    </ul>


            <h4 class="saparitor">Your Sortcut</h4>
            <ul class="facebook-favorits">
                <li class="facebook-favorits__favorit">
                    <div class="favorit-image">
                        <img src="https://picsum.photos/id/70/64/64" alt=""></div>
                    <span class="favorit-text">Abo-Salama</span>
                </li>
                <li class="facebook-favorits__favorit">
                    <div class="favorit-image">
                        <img src="https://picsum.photos/id/78/64/64"" alt=""></div>
                    <span class="favorit-text">M-B-Salama</span>
                </li>
                <li class="facebook-favorits__favorit">
                    <div class="favorit-image">
                        <img src="./assets/image/sa2.jpg" alt=""></div>
                    <span class="favorit-text">Mahmoud-Salama</span>
                </li>
            </ul>


</div>