<div class="wrapper">

    <h4>Sponsered</h4>

    <div class="facebook--sponsers">
        <div class="facebook--sponsers__sponserd">
            <img src="https://picsum.photos/id/15/200/180" alt="" class="facebook--sponsers__sponserd--image">
            <div class="facebook--sponsers__sponserd--text">The O’Reilly logo is a registered trademark of O’Reilly Media, Inc. “O’Reilly Digital Studio” and related trade dress are 
                trademarks of</div>
        </div>
        <div class="facebook--sponsers__sponserd">
            <img src="https://picsum.photos/id/170/200/180" alt="" class="facebook--sponsers__sponserd--image">
            <div class="facebook--sponsers__sponserd--text">if you travel to Silicon Valley and navigate between the global headquarters 
                of some of the world’s most famous internet companies,</div>
        </div>
    </div>


    
    <h4 class="saparitor">Your Page</h4>

    <div class="facebook--pages">
        <div class="facebook--pages__page">
            <img src="/assets/image/adobeph.webp" alt="" class="facebook--pages__page--image">
            <div class="facebook--pages__page--text">
                Adobe Photoshop</div>
        </div>
        <div class="facebook--pages__page">
            <img src="/assets/image/ill.webp" alt="" class="facebook--pages__page--image">
            <div class="facebook--pages__page--text">
                Adobe Illustrator</div>
        </div>
        <div class="facebook--pages__page">
            <img src="/assets/image/Ex.webp" alt="" class="facebook--pages__page--image">
            <div class="facebook--pages__page--text">
                Adobe Express</div>
        </div>
    </div>


    <h4 class="saparitor">Contacts</h4>

    <div class="facebook--contacts">

        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Mahmoud</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/15/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Salama</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/14/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Ali</div>
        </div>

        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/12/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Mahmed</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/20/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Robert</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/21/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                John</div>
        </div>

        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/22/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Michael</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/23/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Thomas</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/24/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Christopher</div>
        </div>

        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/25/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Daniel</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/26/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Matthew</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/27/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Donald</div>
        </div>

        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/28/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Paul</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/29/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Andrew</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/30/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Joshua</div>
        </div>

        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/31/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Kenneth</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/32/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Brian</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/33/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                George</div>
        </div>

        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/34/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Timothy</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/35/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Edward</div>
        </div>
        <div class="facebook--contacts__contact">
            <img src="https://picsum.photos/id/36/200/300" alt="" class="facebook--contacts__contact--image">
            <div class="facebook--contacts__contact--text">
                Jacob</div>
        </div>

    </div>
</div>